.date-range {
  font-size: 60px;
}

.intro-header {
  padding: 10px;
  text-align: center;

}



   @media screen and (max-width: 620px) {
        .intro-header {
       padding: 20px;
       font-size: 20px;
     }

     
   }