* {
 
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
   box-sizing: border-box;
}

h4 {
  font-size: 60px;
}

.person-master {
   width: 90%;
   margin: 50px auto;
}
.row {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-flow: wrap;
}

.person-card {
    width: 90%;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
}

.intro-section, .birth-section, .census-section, .marriage-section, .work-section, .death-section, .life-summary-section
   {
       display: flex;
         flex-flow: row;
          flex-wrap: wrap;
         flex: 2;
      margin: 1rem;
      border-radius: 10px;
      color: #2B2D2F;
     
      
       background-color: pink;
       padding: 1rem;
   }

   .card
    {
     display: flex;
      flex-direction: row;
      flex-wrap: wrap;
           flex: 0 45%;
      font-size: 20px;
     width: 100%;
     box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
     -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
     filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
     border-radius: 10px;

     text-decoration: none;
   }

   @media screen and (max-width: 1000px) {
     .card {
       width: 40%;
     }
   }

   @media screen and (max-width: 620px) {
     .person-master {
       width: 100%;
     }

     .heading {
       padding: 20px;
       font-size: 20px;
     }

     .person-card {
       width: 80%;
     }
   }
